    body {background-color: rgb(17, 51, 119);}

    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: darkblue;
        font-size: 30px;
        background-color: aliceblue;
    }
    body {
        color:rgb(144, 161, 192);
        font-size: 1.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: left;
        text-indent: 0%;
    }
    .good {
        display: flex;
        background-color: rgb(255, 255, 255);
    }
    .good div {
        background-color: rgb(35, 53, 123);
        width: 80%;
        color: rgb(183, 183, 183);
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        margin: auto;
        padding: 5px;
        align-items: normal;
        
    }