    body {background-color: rgb(70, 94, 143);}

    p {
        color:rgb(3, 14, 35);
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: left;
    }